
#id-page-pdf
{
     background-image: url("res://intefase_03__");
     background-repeat:no-repeat;
     background-position: right top;
    
}
.drawer-content {
  background-color: white;
  color:#6b400c;
  padding-top: 0;
}
.drawer-content label {
  font-size: 16;
  margin: 10 0 15 25;
}
action-bar {
  background-color:#0b132c;
  color: white;
}
