@import url("~/views/login/login-common.css");

#background {
  	/*background-image: url("res://bg_login");
           background-color:rgb(77, 77, 77); 
*/
  
   background-image: url("res://intefase_05")
}

#initial-label {
  font-size: 32;
}

#container {
    
  border-radius: 30px 30px 45px 60px;
  height: 385;
  width: 275;
}
text-field {
  margin-bottom: 10;
}
#main-label {
  font-size: 28;
  margin-top: 32;
  margin-bottom: 32;
}
#sign-up-label {
  padding-top: 10;
  height: 44;
}
#forgot-password-label {
  font-size: 13;
}
